<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>


        <div id="major">
        <h3>Nick Jalali</h3>
        </div>

        <div id="bloodcontainer">
            <img id="blood" src="/static/blood.jpg">
        </div>

        <div class="links">

            
            <a href="https://www.linkedin.com/in/nicholas-jalali-b7a001205" target="_blank"><img id="linked" src="/static/linkedin-logo.png"></a>
            <a target = "_blank" href="https://github.com/phr00g"><img id="gitlogo" src="/static/GitHub-logo.png"></a>

        </div>
        
        <div id="pypenlink">
        <a href="/pypen"><h3>SSPyPen</h3></a>
        </div>
        
    </body>
</html>