<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ppc.css') }}">
    </head>
    <body>
        <h1 id ='main'>Please input the name of the target site in the format: www.website.xyz</h1>
        <form style="text-align:center ;" action = "/ppresult" method = "POST">
            <input type="text" name = "dnsName"/>

        </form>

        
        
    </body>
</html>